
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>



    <div class="d-flex flex-column gap-0">
        <!-- top 10 products -->
        <div class="container mb-5 border rounded py-5 shadow" id="topProducts">
            <h3 class="text-center mb-5">Top 10 Best-selling products</h3>
            <div class="d-flex justify-content-center gap-3 mb-5">
                <div class="">
                    <button class="btn" id="dailyProductReportBtn" onclick="fetchProductReports('daily')">Today</button>
                </div>
                <div class="">
                    <button class="btn" id="weeklyProductReportBtn" onclick="fetchProductReports('weekly')">This Week</button>
                </div>
                <div class="">
                    <button class="btn" id="monthlyProductReportBtn" onclick="fetchProductReports('monthly')">This Month</button>
                </div>
                <div class="">
                    <button class="btn" id="yearlyProductReportBtn" onclick="fetchProductReports('yearly')">This Year</button>
                </div>

                <div class="d-flex gap-3">
                    <div>
                        <input class="form-control" type="date" id="productReportStartDate">
                    </div>
                    <div>
                        <input class="form-control" type="date" id="productReportEndDate">
                    </div>
                    <div>
                        <button class="btn btn-primary" onclick="fetchCustomProductReports()">Get Range</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="topTenProductsChart" height="100"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between" id="topTenProductsImgCardContainer"></div>
                </div>
            </div>
        </div>
        <script>
            // let currentProductReportType='daily';
            let productChartInstance;

            async function fetchProductReports(type) {
                const productReportBtns=['dailyProductReportBtn','weeklyProductReportBtn','monthlyProductReportBtn','yearlyProductReportBtn']
                // currentProductReportType=type;
                const res=await fetch(`/admin/dashboard/top-ten-products?type=${type}`);
                const data=await res.json();

                document.getElementById("productReportStartDate").value="";
                document.getElementById("productReportEndDate").value="";

                productReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove("btn-dark")
                    document.getElementById(btn).classList.add("btn-outline-dark")
                })

                if(type==='daily'){
                    document.getElementById('dailyProductReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('dailyProductReportBtn').classList.add("btn-dark")
                }else if(type==='weekly'){
                    document.getElementById('weeklyProductReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('weeklyProductReportBtn').classList.add("btn-dark")
                }if(type==='monthly'){
                    document.getElementById('monthlyProductReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('monthlyProductReportBtn').classList.add("btn-dark")
                }if(type==='yearly'){
                    document.getElementById('yearlyProductReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('yearlyProductReportBtn').classList.add("btn-dark")
                }

                console.log("dataaaaaaaaa",data)

                const productNames=data.map(i=>i.productName);
                const quantities=data.map(i=>i.totalSold);

                const ctx = document.getElementById('topTenProductsChart').getContext('2d');
                Chart.register(ChartDataLabels);

                if(productChartInstance) productChartInstance.destroy();

                productChartInstance= new Chart(ctx,{
                    type:'bar',
                    data:{
                        labels:productNames,
                        datasets:[{
                            label:"Units Sold",
                            data:quantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        responsive:true, 
                        scales:{
                            y:{beginAtZero:true}
                        }
                    }
                })

                //update top ten products table
                const topTenProductsImgCardsContainer=document.getElementById('topTenProductsImgCardContainer');
                topTenProductsImgCardsContainer.innerHTML="";
                data.forEach(ele=>{
                    topTenProductsImgCardsContainer.innerHTML +=`
                        <div class="border rounded p-1 shadow-sm">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div><img class="rounded" width="100px" src="${ele.productImage[0].url}" alt="${ele.productName}"></div>
                                <div class="fw-bold">${ele.productName}</div>
                                <div><span class="text-body-tertiary px-2 border rounded-pill bg-secondary-subtle" style="font-size: 75%;">${ele.brandName}</span></div>
                                <div><span class=" text-body-tertiary px-2 border rounded-pill bg-secondary-subtle" style="font-size: 75%;">${ele.categoryName}</span></div>
                                <div class="px-2 border border-subtle rounded-pill bg-success-subtle" style="font-size:75%;">Total Sold:${ele.totalSold}</div>
                            </div>
                        </div>
                    `
                })



            }

            async function fetchCustomProductReports(){
                const startDate = document.getElementById('productReportStartDate').value;
                const endDate = document.getElementById('productReportEndDate').value;
                if((!startDate || !endDate)){
                    return Swal.fire({
                        title:"Select both start date & end date!",
                        icon:"warning",
                    })
                }
                const res=await fetch(`/admin/dashboard/top-ten-products?type=custom&start=${startDate}&end=${endDate}`)
                const data=await res.json()
                const productReportBtns=['dailyProductReportBtn','weeklyProductReportBtn','monthlyProductReportBtn','yearlyProductReportBtn']
                productReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove("btn-dark")
                    document.getElementById(btn).classList.add("btn-outline-dark")
                })

                console.log("dataaaaaaaCustom",data)

                const productNames=data.map(i=>i.productName);
                const quantities=data.map(i=>i.totalSold);

                const ctx = document.getElementById('topTenProductsChart').getContext('2d');
                if(productChartInstance) productChartInstance.destroy();

                productChartInstance= new Chart(ctx,{
                    type:'bar',
                    data:{
                        labels:productNames,
                        datasets:[{
                            label:"Units Sold",
                            data:quantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        responsive:true, 
                        scales:{
                            y:{beginAtZero:true}
                        }
                    }
                })

                //update top ten products table
                const topTenProductsImgCardsContainer=document.getElementById('topTenProductsImgCardContainer');
                topTenProductsImgCardsContainer.innerHTML="";
                data.forEach(ele=>{
                    topTenProductsImgCardsContainer.innerHTML +=`
                        <div class="border rounded p-1 shadow-sm">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div><img class="rounded" width="100px" src="${ele.productImage[0].url}" alt="${ele.productName}"></div>
                                <div class="fw-bold">${ele.productName}</div>
                                <div><span class="text-body-tertiary px-2 border rounded-pill bg-secondary-subtle" style="font-size: 75%;">${ele.brandName}</span></div>
                                <div><span class=" text-body-tertiary px-2 border rounded-pill bg-secondary-subtle" style="font-size: 75%;">${ele.categoryName}</span></div>
                                <div class="px-2 border border-subtle rounded-pill bg-success-subtle" style="font-size:75%;">Total Sold:${ele.totalSold}</div>
                            </div>
                        </div>
                    `
                })

            }
            fetchProductReports('daily');
        </script>

        <div class="container mb-5 border rounded py-5 shadow" id="topCategories">
            <h3 class="text-center mb-5">Top 10 Best-selling categories</h3>
            <div class="d-flex flex-row justify-content-center gap-3 mb-5">
                <div class="">
                    <button class="btn" id="dailyCategoryReportBtn" onclick="fetchCategoryReports('daily')">Today</button>
                </div>
                <div class="">
                    <button class="btn" id="weeklyCategoryReportBtn" onclick="fetchCategoryReports('weekly')">This Week</button>
                </div>
                <div class="">
                    <button class="btn" id="monthlyCategoryReportBtn" onclick="fetchCategoryReports('monthly')">This Month</button>
                </div>
                <div class="">
                    <button class="btn" id="yearlyCategoryReportBtn" onclick="fetchCategoryReports('yearly')">This Year</button>
                </div>

                <div class="d-flex gap-3">
                    <div>
                        <input class="form-control" type="date" id="categoryReportStartDate">
                    </div>
                    <div>
                        <input class="form-control" type="date" id="categoryReportEndDate">
                    </div>
                    <div>
                        <button class="btn btn-primary" onclick="fetchCustomCategoryReports()">Get Range</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <canvas id="topTenCategoriesBarChart" height="150"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="topTenCategoriesDonutChart" ></canvas>
                </div>
            </div>
        </div>

        <script>
            let categoryBarChartInstance;
            let categoryDonutChartInstance;
            async function fetchCategoryReports(type) {
                const categoryReportBtns=['dailyCategoryReportBtn','weeklyCategoryReportBtn','monthlyCategoryReportBtn','yearlyCategoryReportBtn']
                const res=await fetch(`/admin/dashboard/top-ten-categories?type=${type}`);
                const data=await res.json();
                console.log("cat dataaaaaa",data)

                document.getElementById("categoryReportStartDate").value="";
                document.getElementById("categoryReportEndDate").value="";

                categoryReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove('btn-dark')
                    document.getElementById(btn).classList.add('btn-outline-dark')
                })

                if(type==='daily'){
                    document.getElementById('dailyCategoryReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('dailyCategoryReportBtn').classList.add("btn-dark")
                }else if(type==='weekly'){
                    document.getElementById('weeklyCategoryReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('weeklyCategoryReportBtn').classList.add("btn-dark")
                }if(type==='monthly'){
                    document.getElementById('monthlyCategoryReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('monthlyCategoryReportBtn').classList.add("btn-dark")
                }if(type==='yearly'){
                    document.getElementById('yearlyCategoryReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('yearlyCategoryReportBtn').classList.add("btn-dark")
                }

                const categoryNames=data.map(i=>i.categoryName);
                const soldQuantities=data.map(i=>i.totalSold);


                const ctxBar=document.getElementById('topTenCategoriesBarChart').getContext('2d')
                const ctxDonut=document.getElementById('topTenCategoriesDonutChart').getContext('2d')

                if(categoryBarChartInstance) categoryBarChartInstance.destroy();
                if(categoryDonutChartInstance) categoryDonutChartInstance.destroy();

                categoryBarChartInstance=new Chart(ctxBar,{
                    type:'bar',
                    data:{
                        labels:categoryNames,
                        datasets:[{
                            label:"Units Sold",
                            data:soldQuantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        indexAxis:'y',
                        responsive:true,
                        scales:{
                            x:{
                                beginAtZero:true
                            }
                        }
                    }
                })

                categoryDonutChartInstance = new Chart(ctxDonut, {
                    type: 'doughnut',
                    data: {
                        labels: categoryNames,
                        datasets: [{
                            label: "Units Sold",
                            data: soldQuantities,
                            backgroundColor: [
                                '#36A2EB',
                                '#FF6384',
                                '#FFCE56',
                                '#4BC0C0',
                                '#9966FF',
                                '#FF9F40',
                                '#8DD17E',
                                '#C45850',
                                '#6FA8DC',
                                '#F6A5C0'
                            ],
                            hoverOffset: 20,
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: true,
                        cutout: '30%',
                        plugins: {
                            legend: {
                                position: 'right'
                            },
                            datalabels: {
                                color: "#fff",
                                font: {
                                    weight: 'bold',
                                    size: 9
                                },
                                formatter: (value, context) => {
                                    return context.chart.data.labels[context.dataIndex];
                                }
                            }
                        }
                    }
                });


            }

            async function fetchCustomCategoryReports() {
                const startDate = document.getElementById('categoryReportStartDate').value;
                const endDate = document.getElementById('categoryReportEndDate').value;
                if((!startDate || !endDate)){
                    return Swal.fire({
                        title:"Select both start date & end date!",
                        icon:"warning",
                    })
                }

                const res=await fetch(`/admin/dashboard/top-ten-categories?type=custom&start=${startDate}&end=${endDate}`)
                const data=await res.json()


                const categoryReportBtns=['dailyCategoryReportBtn','weeklyCategoryReportBtn','monthlyCategoryReportBtn','yearlyCategoryReportBtn']

                categoryReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove('btn-dark')
                    document.getElementById(btn).classList.add('btn-outline-dark')
                })

                const categoryNames=data.map(i=>i.categoryName);
                const soldQuantities=data.map(i=>i.totalSold);

                const ctxBar=document.getElementById('topTenCategoriesBarChart').getContext('2d')
                const ctxDonut=document.getElementById('topTenCategoriesDonutChart').getContext('2d')

                if(categoryBarChartInstance) categoryBarChartInstance.destroy();
                if(categoryDonutChartInstance) categoryDonutChartInstance.destroy();

                categoryBarChartInstance=new Chart(ctxBar,{
                    type:'bar',
                    data:{
                        labels:categoryNames,
                        datasets:[{
                            label:"Units Sold",
                            data:soldQuantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        indexAxis:'y',
                        responsive:true,
                        scales:{
                            x:{
                                beginAtZero:true
                            }
                        }
                    }
                })

                categoryDonutChartInstance = new Chart(ctxDonut, {
                    type: 'doughnut',
                    data: {
                        labels: categoryNames,
                        datasets: [{
                            label: "Units Sold",
                            data: soldQuantities,
                            backgroundColor: [
                                '#36A2EB',
                                '#FF6384',
                                '#FFCE56',
                                '#4BC0C0',
                                '#9966FF',
                                '#FF9F40',
                                '#8DD17E',
                                '#C45850',
                                '#6FA8DC',
                                '#F6A5C0'
                            ],
                            hoverOffset: 20,
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: true,
                        cutout: '30%',
                        plugins: {
                            legend: {
                                position: 'right'
                            },
                            datalabels: {
                                color: "#fff",
                                font: {
                                    weight: 'bold',
                                    size: 9
                                },
                                formatter: (value, context) => {
                                    return context.chart.data.labels[context.dataIndex];
                                }
                            }
                        }
                    }
                });
            }

            fetchCategoryReports('daily');
        </script>

        <div class="shadow container mb-5 border rounded py-5" id="topBrands">
            <h3 class="text-center mb-5">Top 10 Best-selling Brands</h3>
            <div class="d-flex flex-row justify-content-center gap-3 mb-5">
                <div class="">
                    <button class="btn" id="dailyBrandReportBtn" onclick="fetchBrandReports('daily')">Today</button>
                </div>
                <div class="">
                    <button class="btn" id="weeklyBrandReportBtn" onclick="fetchBrandReports('weekly')">This Week</button>
                </div>
                <div class="">
                    <button class="btn" id="monthlyBrandReportBtn" onclick="fetchBrandReports('monthly')">This Month</button>
                </div>
                <div class="">
                    <button class="btn" id="yearlyBrandReportBtn" onclick="fetchBrandReports('yearly')">This Year</button>
                </div>

                <div class="d-flex gap-3">
                    <div>
                        <input class="form-control" type="date" id="brandReportStartDate">
                    </div>
                    <div>
                        <input class="form-control" type="date" id="brandReportEndDate">
                    </div>
                    <div>
                        <button class="btn btn-primary" onclick="fetchCustomBrandReports()">Get Range</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <canvas id="topTenBrandsBarChart" height="150"></canvas>
                </div>
                <div class="col-4">
                    <canvas id="topTenBrandsDonutChart"></canvas>
                </div>
            </div>
        </div>

        <script>
            let brandBarChartInstance;
            let brandDonutChartInstance;
            async function fetchBrandReports(type) {
                const res=await fetch(`/admin/dashboard/top-ten-brands?type=${type}`);
                const data=await res.json();
                console.log("brand dataaaaaa",data)

                const brandReportBtns=['dailyBrandReportBtn','weeklyBrandReportBtn','monthlyBrandReportBtn','yearlyBrandReportBtn']

                document.getElementById("brandReportStartDate").value="";
                document.getElementById("brandReportEndDate").value="";

                brandReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove("btn-dark")
                    document.getElementById(btn).classList.add("btn-outline-dark")
                })

                 if(type==='daily'){
                    document.getElementById('dailyBrandReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('dailyBrandReportBtn').classList.add("btn-dark")
                }else if(type==='weekly'){
                    document.getElementById('weeklyBrandReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('weeklyBrandReportBtn').classList.add("btn-dark")
                }if(type==='monthly'){
                    document.getElementById('monthlyBrandReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('monthlyBrandReportBtn').classList.add("btn-dark")
                }if(type==='yearly'){
                    document.getElementById('yearlyBrandReportBtn').classList.remove("btn-outline-dark")
                    document.getElementById('yearlyBrandReportBtn').classList.add("btn-dark")
                }


                const brandNames=data.map(i=>i.brandName);
                const soldQuantities=data.map(i=>i.totalSold);

                const ctxBar=document.getElementById('topTenBrandsBarChart').getContext('2d')
                const ctxDonut=document.getElementById('topTenBrandsDonutChart').getContext('2d')
                if(brandBarChartInstance) brandBarChartInstance.destroy();
                if(brandDonutChartInstance) brandDonutChartInstance.destroy();

                brandBarChartInstance=new Chart(ctxBar,{
                    type:'bar',
                    data:{
                        labels:brandNames,
                        datasets:[{
                            label:"Units Sold",
                            data:soldQuantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        indexAxis:'y',
                        responsive:true,
                        scales:{
                            x:{
                                beginAtZero:true
                            }
                        }
                    }
                })

                brandDonutChartInstance = new Chart(ctxDonut, {
                    type: 'doughnut',
                    data: {
                        labels: brandNames,
                        datasets: [{
                            label: "Units Sold",
                            data: soldQuantities,
                            backgroundColor: [
                                '#36A2EB', // Blue
                                '#FF6384', // Pink
                                '#FFCE56', // Yellow
                                '#4BC0C0', // Teal
                                '#9966FF', // Purple
                                '#FF9F40', // Orange
                                '#8DD17E', // Green
                                '#C45850', // Brick Red
                                '#6FA8DC', // Light Blue
                                '#F6A5C0'  // Light Pink
                            ],

                            hoverOffset: 20,
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: true,
                        cutout: '30%',
                        plugins: {
                            legend: {
                                position: 'right'
                            },
                            datalabels: {
                                color: "#fff",
                                font: {
                                    weight: 'bold',
                                    size: 8
                                },
                                formatter: (value, context) => {
                                    return context.chart.data.labels[context.dataIndex];
                                }
                            }
                        }
                    }
                });

            }

            async function fetchCustomBrandReports() {
                const startDate = document.getElementById('brandReportStartDate').value;
                const endDate = document.getElementById('brandReportEndDate').value;
                if((!startDate || !endDate)){
                    return Swal.fire({
                        title:"Select both start date & end date!",
                        icon:"warning",
                    })
                }

                const res=await fetch(`/admin/dashboard/top-ten-brands?type=custom&start=${startDate}&end=${endDate}`)
                const data=await res.json()

                const brandReportBtns=['dailyBrandReportBtn','weeklyBrandReportBtn','monthlyBrandReportBtn','yearlyBrandReportBtn']

                brandReportBtns.forEach((btn)=>{
                    document.getElementById(btn).classList.remove("btn-dark")
                    document.getElementById(btn).classList.add("btn-outline-dark")
                })

                const brandNames=data.map(i=>i.brandName);
                const soldQuantities=data.map(i=>i.totalSold);

                const ctxBar=document.getElementById('topTenBrandsBarChart').getContext('2d')
                const ctxDonut=document.getElementById('topTenBrandsDonutChart').getContext('2d')
                if(brandBarChartInstance) brandBarChartInstance.destroy();
                if(brandDonutChartInstance) brandDonutChartInstance.destroy();

                brandBarChartInstance=new Chart(ctxBar,{
                    type:'bar',
                    data:{
                        labels:brandNames,
                        datasets:[{
                            label:"Units Sold",
                            data:soldQuantities,
                            borderWidth:1
                        }]
                    },
                    options:{
                        indexAxis:'y',
                        responsive:true,
                        scales:{
                            x:{
                                beginAtZero:true
                            }
                        }
                    }
                })

                brandDonutChartInstance = new Chart(ctxDonut, {
                    type: 'doughnut',
                    data: {
                        labels: brandNames,
                        datasets: [{
                            label: "Units Sold",
                            data: soldQuantities,
                            backgroundColor: [
                                '#36A2EB', // Blue
                                '#FF6384', // Pink
                                '#FFCE56', // Yellow
                                '#4BC0C0', // Teal
                                '#9966FF', // Purple
                                '#FF9F40', // Orange
                                '#8DD17E', // Green
                                '#C45850', // Brick Red
                                '#6FA8DC', // Light Blue
                                '#F6A5C0'  // Light Pink
                            ],

                            hoverOffset: 20,
                        }]
                    },
                    plugins: [ChartDataLabels],
                    options: {
                        responsive: true,
                        cutout: '30%',
                        plugins: {
                            legend: {
                                position: 'right'
                            },
                            datalabels: {
                                color: "#fff",
                                font: {
                                    weight: 'bold',
                                    size: 8
                                },
                                formatter: (value, context) => {
                                    return context.chart.data.labels[context.dataIndex];
                                }
                            }
                        }
                    }
                });
            }

            fetchBrandReports('daily');
        </script>
        
    </div>