 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="fw-bold text-center">Sales Report</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col d-flex justify-content-center gap-3">
            <button class="btn btn-outline-dark" id="dailyBtn" onclick="fetchReport('daily')">Daily</button>
            <button class="btn btn-outline-dark" id="weeklyBtn" onclick="fetchReport('weekly')">Weekly</button>
            <button class="btn btn-outline-dark" id="yearlyBtn" onclick="fetchReport('yearly')">Yearly</button>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center gap-3">
            <input type="date" id="startDate" class="form-control">
            <input type="date" id="endDate" class="form-control">
            <button class="btn btn-primary" onclick="fetchCustomReport()">Get Range</button>
            <a href="?"><button class="btn btn-outline-dark">Clear Range</button></a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col d-flex justify-content-center gap-3">
            <button class="btn btn-outline-success" onclick="downloadFile('pdf')">⬇️ PDF</button>
            <button class="btn btn-outline-success" onclick="downloadFile('excel')">⬇️ Excel</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <canvas id="salesChart" height="100"></canvas>
        </div>
    </div>



    <div class="row mb-3 d-flex justify-content-center">

        <div class="col-2">
            <div class="card shadow d-flex flex-column align-items-center">
                <div class="h4">👕</div>
                <div class="fw-bold">Total Products sold</div>
                <div class="h4 fw-bold text-success" id="totalProductsSold"></div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card shadow d-flex flex-column align-items-center">
                <div class="h4">📦</div>
                <div class="fw-bold">Total Orders</div>
                <div class="fw-bold h4 text-success" id="totalOrdersCount"></div>
            </div>
        </div>
        <div class="col-2">
            <div class="card shadow d-flex flex-column align-items-center">
                <div class="h4">💰</div>
                <div class="fw-bold">Total Income</div>
                <div class="h4 fw-bold text-success" id="totalIncome"></div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card shadow d-flex flex-column align-items-center">
                <div class="h4">🎁</div>
                <div class="fw-bold">Offer Discounts</div>
                <div class="h4 fw-bold text-success" id="totalOfferDiscount"></div>
            </div>
        </div>
        
        <div class="col-2">
            <div class="card shadow d-flex flex-column align-items-center">
                <div class="h4">🎟️</div>
                <div class="fw-bold">Coupon Discounts</div>
                <div class="h4 fw-bold text-success" id="totalCouponDiscount"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center gap-3">
                <div class="col-3" id="productSoldCount-firstColumn"></div>
                <div class="col-3" id="productSoldCount-secondColumn"></div>
                <div class="col-3" id="productSoldCount-thirdColumn"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table id="reportTable" class="table table-hover">
                <thead class="table-dark">
                    <tr>
                    <th>Date / Period</th>
                    <th>Total Sales (₹)</th>
                    <th>Total Offer Discounts (₹)</th>
                    <th>Total Coupon Discounts (₹)</th>
                    <th>Total Orders</th>
                    <th>Avg Order Value (₹)</th>
                    </tr>
                </thead>
                <tbody id="reportBody"></tbody>
                </table>
        </div>
    </div>
 </div>

  <script>
    let currentReportType = "daily"; // default
    let chartInstance;

    // async function fetchReport(type) {
    //     currentReportType = type; // 🟢 save the selected report type
    //     const res = await fetch(`/admin/sales-report?type=${type}`);
    //     const data = await res.json();
    //     console.log("data.report",data.report)
    //   console.log("dataaaaaaaa========",data)

    //     renderReport(data.report, type, data.totalOrdersCount, data.totalIncome, data.totalOfferDiscount, data.totalCouponDiscount);  
    // }
    async function fetchReport(type) {
        currentReportType = type; // 🟢 save the selected report type
        const start = document.getElementById("startDate").value;
        const end = document.getElementById("endDate").value;
        const res = await fetch(`/admin/sales-report?type=${type}&start=${start}&end=${end}`);
        const data = await res.json();
      //   console.log("data.report",data.report)
      console.log("dataaaaaaaa========",data)

        renderReport(
          data.report, 
          type, 
          data.totalOrdersCount, 
          data.totalIncome, 
          data.totalOfferDiscount, 
          data.totalCouponDiscount,
          data.productSoldCounts,
          data.totalProductsSold
        );  
    }

    async function fetchCustomReport() {
      const start = document.getElementById("startDate").value;
      const end = document.getElementById("endDate").value;
      if (!start || !end) return Swal.fire("Select both start and end dates!","","warning");
      // currentReportType = "custom"; // 🟢 mark as custom range
      const res = await fetch(`/admin/sales-report?type=${currentReportType}&start=${start}&end=${end}`);
      const data = await res.json();
      console.log("dataaaaaaaa========",data)
      renderReport(
        data.report, 
        currentReportType,  
        data.totalOrdersCount, 
        data.totalIncome, 
        data.totalOfferDiscount, 
        data.totalCouponDiscount,
        data.productSoldCounts,
        data.totalProductsSold
      );
    }

    function renderReport(report, type, totalOrdersCount, totalIncome, totalOfferDiscount, totalCouponDiscount, productSoldCounts, totalProductsSold) {
      document.getElementById('totalOrdersCount').innerHTML=totalOrdersCount;
      document.getElementById('totalIncome').innerHTML=`Rs.${totalIncome}/-`;
      document.getElementById('totalOfferDiscount').innerHTML=`Rs.${totalOfferDiscount}/-`;
      document.getElementById('totalCouponDiscount').innerHTML=`Rs.${totalCouponDiscount}/-`;
      document.getElementById('totalProductsSold').innerHTML=`${totalProductsSold}`;


      //we are showing the sold counts of products in 3 columns
      //so we need to devide all the products count by 3,
      //eg: suppose we have 15 products, we have 3 columns,
      //so we are listign 5 products in each column.

      const productInFirstColumn=Math.ceil(productSoldCounts.length/3)
      console.log("product in first coum===",productSoldCounts)
      const productInSecondColumn=Math.ceil(productSoldCounts.length/3)
      const productInThirdColumn=productSoldCounts.length - (productInFirstColumn + productInSecondColumn)

        const productSoldCount_firstColumn=document.getElementById('productSoldCount-firstColumn')
        productSoldCount_firstColumn.innerHTML="";
        for(let i=0;i<productInFirstColumn;i++){
            productSoldCount_firstColumn.innerHTML +=`
                <div class="card">
                    <div class="d-flex gap-2">
                        <div><img class="img-thumbnail" width="125px" src="${productSoldCounts[i].productImage[0].url}" alt="${productSoldCounts[i].productName}"></div>
                        <div class="d-flex flex-column gap-1">
                            <div class="fw-bold">${productSoldCounts[i].productName}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Category:</span>${productSoldCounts[i].category}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Brand:</span>${productSoldCounts[i].brand}</div>
                            <div class="fw-bold">Total Sold:${productSoldCounts[i].soldCount}</div>
                        </div>
                    </div>
                </div>
            `
        }

        const productSoldCount_secondColumn=document.getElementById('productSoldCount-secondColumn')
        productSoldCount_secondColumn.innerHTML="";
        for(let i=productInFirstColumn;i<(productInFirstColumn + productInSecondColumn);i++){
            productSoldCount_secondColumn.innerHTML +=`
                <div class="card">
                    <div class="d-flex gap-2">
                        <div><img class="img-thumbnail" width="125px" src="${productSoldCounts[i].productImage[0].url}" alt="${productSoldCounts[i].productName}"></div>
                        <div class="d-flex flex-column gap-1">
                            <div class="fw-bold">${productSoldCounts[i].productName}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Category:</span>${productSoldCounts[i].category}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Brand:</span>${productSoldCounts[i].brand}</div>
                            <div class="fw-bold">Total Sold:${productSoldCounts[i].soldCount}</div>
                        </div>
                    </div>
                </div>
            `
        }

        const productSoldCount_thirdColumn=document.getElementById('productSoldCount-thirdColumn')
        productSoldCount_thirdColumn.innerHTML="";

        for(let i=(productInFirstColumn + productInSecondColumn);i<productSoldCounts.length;i++){
            productSoldCount_thirdColumn.innerHTML +=`
                <div class='card'>
                    <div class="d-flex gap-2">
                        <div><img class="img-thumbnail" width="125px" src="${productSoldCounts[i].productImage[0].url}" alt="${productSoldCounts[i].productName}"></div>
                        <div class="d-flex flex-column gap-1">
                            <div class="fw-bold">${productSoldCounts[i].productName}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Category:</span>${productSoldCounts[i].category}</div>
                            <div><span  style="font-size: 75%;" class="text-body-tertiary">Brand:</span>${productSoldCounts[i].brand}</div>
                            <div class="fw-bold">Total Sold:${productSoldCounts[i].soldCount}</div>
                        </div>
                    </div>
                </div>
            `
        }
    



      const tbody = document.getElementById("reportBody");
      tbody.innerHTML = "";

      const labels = [];
      const sales = [];
      const offerDiscounts=[];
      const couponDiscounts=[];

      report.forEach(r => {
        let label = "";

        if (type === "daily") {
          label = `${r._id.day}-${r._id.month}-${r._id.year}`;
          document.getElementById('dailyBtn').classList.remove('btn-outline-dark')
          document.getElementById('dailyBtn').classList.add('btn-dark')

          document.getElementById('weeklyBtn').classList.remove('btn-dark')
          document.getElementById('weeklyBtn').classList.add('btn-outline-dark')
          document.getElementById('yearlyBtn').classList.remove('btn-dark')
          document.getElementById('yearlyBtn').classList.add('btn-outline-dark')
        } else if (type === "weekly") {
          label = `Week ${r._id.week}, ${r._id.year}`;
          document.getElementById('weeklyBtn').classList.remove('btn-outline-dark')
          document.getElementById('weeklyBtn').classList.add('btn-dark')

          document.getElementById('dailyBtn').classList.remove('btn-dark')
          document.getElementById('dailyBtn').classList.add('btn-outline-dark')
          document.getElementById('yearlyBtn').classList.remove('btn-dark')
          document.getElementById('yearlyBtn').classList.add('btn-outline-dark')
        } else if (type === "yearly") {
          label = `${r._id.year}`;
          document.getElementById('yearlyBtn').classList.remove('btn-outline-dark')
          document.getElementById('yearlyBtn').classList.add('btn-dark')

          document.getElementById('dailyBtn').classList.remove('btn-dark')
          document.getElementById('dailyBtn').classList.add('btn-outline-dark')
          document.getElementById('weeklyBtn').classList.remove('btn-dark')
          document.getElementById('weeklyBtn').classList.add('btn-outline-dark')
        } else {
          label = `${document.getElementById("startDate").value} to ${document.getElementById("endDate").value}`;

          document.getElementById('dailyBtn').classList.remove('btn-dark')
          document.getElementById('weeklyBtn').classList.remove('btn-dark')
          document.getElementById('yearlyBtn').classList.remove('btn-dark')

          document.getElementById('dailyBtn').classList.add('btn-outline-dark')
          document.getElementById('weeklyBtn').classList.add('btn-outline-dark')
          document.getElementById('yearlyBtn').classList.add('btn-outline-dark')


        }

        labels.push(label);
        sales.push(r.totalSales);
        offerDiscounts.push(r.totalOfferDiscount)
        couponDiscounts.push(r.totalCouponDiscount)

        tbody.innerHTML += `
          <tr>
            <td>${label}</td>
            <td>${r.totalSales.toFixed(2)}</td>
            <td>${r.totalOfferDiscount.toFixed(2)}</td>
            <td>${r.totalCouponDiscount.toFixed(2)}</td>
            <td>${r.totalOrders}</td>
            <td>${r.avgOrderValue ? r.avgOrderValue.toFixed(2) : "-"}</td>
          </tr>
        `;
      });

      renderChart(labels, sales, offerDiscounts, couponDiscounts);
    }

    function renderChart(labels, sales, offerDiscounts, couponDiscounts) {
      const ctx = document.getElementById("salesChart").getContext("2d");
      if (chartInstance) chartInstance.destroy();

      chartInstance = new Chart(ctx, {
        type: "bar",
        data: {
          labels,//names that appear under each bar (on the X-axis).
          datasets: [
            {
              label: "Total Sales (₹)",
              data:sales,
              backgroundColor: "lightblue",
            },
            {
              label: "Total Offer Discounts (₹)",
              data:offerDiscounts,
              backgroundColor:"gold"
            },
            {
              label: "Total Coupon Discounts (₹)",
              data:couponDiscounts,
              backgroundColor:"lightgreen"
            }
          ]
        },
        options: {
          responsive: true,
          scales: {
            x:{
              stacked:false
            },
            y: {
              stacked:false,
              beginAtZero: true
            }
          }
        }
      });
    }

    // Load daily report by default
    fetchReport('daily');


    // function downloadFile(format) {
    //     const start = document.getElementById("startDate").value;
    //     const end = document.getElementById("endDate").value;
    //     const currentType = currentReportType || "daily"; // optional tracking

    //     let url = `/admin/sales-report/download/${format}?`;

    //     if (start && end) {
    //         url += `start=${start}&end=${end}`;
    //     } else {
    //         url += `type=${currentType}`;
    //     }

    //     window.open(url, "_blank"); // opens in new tab, triggers download
    // }

    function downloadFile(format) {
        const start = document.getElementById("startDate").value;
        const end = document.getElementById("endDate").value;
        const currentType = currentReportType || "daily"; // optional tracking

        let url = `/admin/sales-report/download/${format}?`;

        // if (start && end) {
        //     url += `start=${start}&end=${end}`;
        // } else {
        //     url += `type=${currentType}`;
        // }

        if(currentReportType && !start && !end){
          url += `type=${currentReportType}`;
        }
        if(currentReportType && start && end){
          url += `type=${currentReportType}&start=${start}&end=${end}`;
        }

        window.open(url, "_blank"); // opens in new tab, triggers download
    }



  </script>




